
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ベース設定 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
body{-webkit-text-size-adjust: 100%;}
html{
	color: #fdfcfc;
	font-size: 14px;
	line-height: 1.8;
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	-webkit-text-size-adjust: 100%;
}
a{
	color: #ececec;
	display: block;
}
#wrapper{
	width: 100%;
	height: 100%;
}
section,
.section{
	width: 100%;
	height: auto;
	position: relative;
}
.container{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding:0 2rem;
}
.is_pc{display: none;}
.is_hidden_tab{display: none;}
.objectFit {
	width:100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%; 
	font-family: 'object-fit: cover;object-position: 50% 50%;'
}
.point_reader{
	display: -webkit-box;
    -webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
}
p + p{
	margin-top: 1rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ベース設定 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.ttl{
	font-size: 2.2rem;
	font-weight: normal;
	font-style: italic;
	text-align: center;
	position: relative;
	margin: 1rem 0;
	letter-spacing: 0.3px;
}
.ttl::before,
.ttl::after{
	content: '';
	display: block;
	width: 3.5rem;
	height: 3.5rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

}
.ttl::before{
	background: url(../img/ttl_fig.png) center /contain no-repeat;
	left: 0;
}
.ttl::after{
	background: url(../img/ttl_fig.png) center /contain no-repeat;
	right: 0;
}
.sub_ttl{
	letter-spacing: 1px;
	font-size: 1.5rem;
	font-weight: normal;
	line-height: 1.5;
}
.red{
	color: #fc0202;
}
.yellow{
	color: #fdf400;
}
.btn{
	margin: 1rem auto 0;
	width: 80%;
}
.msg{
	color: #fc0202;
}
.clear{
	clear: both;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ナビ ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
header{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 3.5rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 55000;
	background: #000;
}
header h1{ 
	height: 100%;
	padding:0.5rem 1rem;
}
header h1 img{
	display: block;
	height: 100%;
	width:auto;
}
header a.insta{
	height: 3rem;
	width:3rem;
	line-height: 3rem;
	font-size: 1.5rem;
	background: #232323;
	text-align: center;
	margin:0 0.5rem 0 auto;
}
.menu-trigger {
	display: inline-block;
	position: relative;
	width: 3.5rem;
	height: 100%;
	vertical-align: middle;
}
.menu-trigger span {
	display: inline-block;
	position: absolute;
	left: 20%;
	width: 50%;
	height: 3px;
	background: #fc0202;
	transition: .3s;
	z-index: 99;
	border-radius: 3px;
}
.menu-trigger.active span {
	background-color: #fc0202;
	z-index: 99;
}
.menu-trigger span:nth-of-type(1) {
	top: 50%;
	transform: translateY(-50%) translateY(-0.5rem);
}
.menu-trigger.active span:nth-of-type(1) {
	transform: translateY(-50%)  rotate(-45deg);
}
.menu-trigger span:nth-of-type(2) {
	top: 50%;
	transform: translateY(-50%);
}
.menu-trigger.active span:nth-of-type(2) {
	opacity: 0;
}
.menu-trigger span:nth-of-type(3) {
	top: 50%;
	transform: translateY(-50%) translateY(0.5rem);
}
.menu-trigger.active span:nth-of-type(3) {
	transform: translateY(-50%) rotate(45deg);
}
.gnav_sp {
	width: 100%;
	background-color: rgba(0, 0, 0, .9);
	font-style: italic;
	text-align: center;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
}
.gnav_sp ul {
	padding: 5rem 0 1rem;
}
.gnav_sp ul li a {
	padding: 1rem 0;
	color: #fc0202;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ナビ ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top01{
	padding: 3.5rem 0 0;
}
.top01 .fig{
	position: absolute;
	top: 4rem;
	z-index: 2;
	width: 5rem;

}
.top01 .fig.left{
	left: 0.5rem;
}
.top01 .fig.right{
	right: 0.5rem;
}
.top01 .swiper-slide{
	height: 35vh;
}
.top01 .back_img{
	position: relative;
}
.top01 .swiper-slide .top_img{
	position: absolute;
	transform: translate(0,0);
	opacity: 0;
	transition: .3s 3s;
	width:auto;
}
.top01 .swiper-slide .top_img.one{
	top:35%;
	left:50%;
	max-width: 45%;
}
.top01 .swiper-slide .top_img.two{
	top: 80%;
	left:20%;
	max-width: 75%;
}
.top01 .swiper-slide .top_img.three{
	top: 50%;
	right:35%;
	max-width: 60%;
}
.top01 .swiper-slide-duplicate-prev .top_img,
.top01 .swiper-slide-duplicate-active .top_img,
.top01 .swiper-slide-prev .top_img,
.top01 .swiper-slide-active .top_img{
	opacity: 1;
	transform: translate(0,-50%);
	transition: .5s 0.75s;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top02{
	background: url(../img/top02_back.png) center /cover no-repeat;
	text-align: center;
	padding: 2rem 0 1rem;
}
.top02 h3 .red{
	font-size: 2.5rem;
}
.top02 .box{
	border: solid 1px #e60012;
	padding: 1rem;
	text-align: left;
	margin:1rem 0 0;
}
.top02 .txt{
	font-size: 1.2rem;
	margin: 2rem 0;
}
.top02 .img{
	margin: 1rem 0;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top03{
	background: url(../img/top03_back.png) center /cover no-repeat;
	text-align: center;
	padding: 2rem 0;
}
.top03 .sub_ttl{
	margin-bottom: 1rem;
}
.top03 .box{
	border: solid 2px #786f20;
	border-radius: 0.75rem;
	background-color: #4e4e4e;
	background-image: url(../img/top03_img01.png);
	background-size: contain;
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 1rem 1rem 1rem 2rem;
	margin:1.5rem 0;
}
.top03 .box ul li{
	line-height: 2;
	text-shadow: 2px 2px 4px #121415;
	list-style-type: disc;
	text-align: left;
}
.top03 .txt{
	font-size: 1.3rem;
	margin: 1.5rem 0;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ04 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top04{
	background: url(../img/top04_back.png) center /cover no-repeat;
	text-align: center;
	padding: 2rem 0;
}
.top04 .sub_ttl .red{
	font-size: 2.5rem;
}
.top04 .box{
	margin: 2rem 0;
	display: block;
}
.top04 .box02{
	margin: 1.5rem 0 2rem;
	display: block;
}
.top04 .box02 .img img{
	width: 100%;
}
.top04 .box02 .txt{
	text-align: left;
	margin:1rem 0 0;
}
.top04 .sub_container .item{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin:1rem 0 2rem;
}
.top04 .sub_container .item .inner{
	background: #d7aa4c;
	width: 38vw;
	height: 38vw;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-bottom: 1rem;
	padding: 2rem 0;
}
.top04 .sub_container .item .inner p{
	border-top: solid 1px #fdfcfc;
	border-bottom: solid 1px #fdfcfc;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.top04 .sub_container ul{
	margin:1rem 0;
}
.top04 .sub_container li{
	text-align: left;
	border-bottom: solid 2px #fd0101;
	position: relative;
	padding: 0.25rem 0 0.25rem 2rem;
}
.top04 .sub_container li::before{
	content: '';
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	background: url(../img/top04_img02.png) center /contain no-repeat;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ04 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ05 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top05{
	background: url(../img/top05_back.png) center /cover no-repeat;
	text-align: center;
	padding: 2rem 0 2rem;
}
.top05 .box{
	margin: 2rem 0 3rem;
}
.top05 .box .img{
	width: 30%;
	margin: 0 auto 1rem;
}
.top05 .box .inner{
	text-align: left;
}
.top05 .box .product_ttl{
	font-size: 1.1rem;
	line-height: 1.5;
	text-align: center;
	margin:0 0 0.75rem;
}
.top05 .box .btn{
	width: 50%;
	text-align: center;
}
.top05 .txt{
	margin: -1rem 0 0;
	font-size: 1.5rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ05 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ06 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top06{
	background: url(../img/top06_back.png) center /cover no-repeat;
	text-align: center;
	padding: 2rem 0;
}
.top06 .sub_ttl{
	margin: 2rem 0 1rem;
}
.top06 .box{
	margin-bottom: 2rem;
}
.top06 .box img{
	width: 100%;
}
.top06 .box .voice_ttl{
	font-size: 1.5rem;
	margin: 1.5rem 0 1rem; 
}
.top06 .box .voice_txt{
	text-align: left;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ06 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ07 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top07{
	background: url(../img/top07_back.png) center /cover no-repeat;
	text-align: center;
	padding: 1rem 0 2rem;
}
.top07 .sub_ttl{
	margin: 1rem 0 1.5rem;
}
.top07 .box{
	background: rgba(255,255,255,0.1);
	border-radius: 1rem;
	padding: 1rem;
}
.top07 .box table{
	text-align: left;
	width: 100%;
}
.top07 .box tr{
	display: block;
}
.top07 .box tr td{
	display: block;
}
.top07 .box td.point{
	text-align: center;
	line-height: 1.2;
	padding: 1rem 0 0;
}
.top07 .box td.point .num{
	vertical-align: -5px;
	font-size: 2.5rem;
	margin-left: 0.5rem;
}
.top07 .box .item{
	padding: 5rem 0;
	text-align: left;
	display: flex;
}
.top07 .box .fl_ttl{
	text-align: center;
	font-size: 1.5rem;
	padding:1rem 0;
}
.top07 .box .tb_border{
	border-bottom: solid 3px #fcfcfb;
}
.top07 .box .tb_border td.fl_txt{
	padding: 0 0 2rem;
}
.top07 .btn{
margin:2rem auto 0;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ07 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ08 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top08{
	background: url(../img/top05_back.png) center /cover no-repeat;
	text-align: center;
	padding: 2rem 0 1rem;
}
.top08 .box .item{
	color: #d00e36;
	border: solid 3px #d00e36;
	padding: 1rem;
	font-size: 1.4rem;
	font-weight: bold;
	margin: 2rem 0 ;
}
.top08 dl.schedule{
	text-align: left;
	display: block;
}
.top08 dl.schedule dt{
	color: #d00e36;
}
.top08 dl.schedule dd{
	border-bottom: dotted 1px #fcfcfb;
	margin-bottom: 1.5rem;
	padding-bottom: 0.5rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ08 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ09 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top09{
	background: url(../img/top05_back.png) center /cover no-repeat;
	text-align: center;
	padding: 2rem 0;
}
.top09 #contact_form{
	margin: 2rem 0;
}
.top09 #contact_form h3{
	font-size: 1.4rem;
	margin: 2rem 0 1rem;
}
.top09 #contact_form p{
	text-align: left;
}
.top09 dl.form{
	display: block;
	text-align: left;
	width: 100%;
}
.top09 dl.form .wide{
	width: 100%;
	border-bottom: none;
}
.top09 dl.form dt{
		border-left: 2px solid #d00e36;
		margin: 1rem 0 0;
		padding: 0.5rem;
}
.top09 dl.form dt span.red{
	margin-left: 1rem;
}
.top09 dl dd label{
	margin-left: 1rem;
}
.icheckbox_square-red, .iradio_square-red{
	background-image: url(../img/red.png) !important;
}
.top09 dl.form .txtbox{
	border-bottom: dotted 1px #fcfcfb;
	margin-bottom: 1rem;
	padding: 1rem 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.top09 dl.form .txtbox1{
	width: 100%;
}
.top09 dl.form .txtbox2{
	width: 100%;
}
.top09 dl.form .txtbox3{
	width: 100%;
	border-bottom: none;
	margin-bottom: 0;
	padding:0;
}
.top09 dl.form .shortbox{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.top09 dl.form .txtbox .select{
	width:100%;
	position: relative;
}
.top09 dl.form .txtbox .select label{
	display: inline-block;
	width: 20%;
	vertical-align: middle;
	margin:0;
}
.top09 dl.form .txtbox .select + .select{
	margin-top: 1rem;
}
.top09 dl.form .txtbox .select select{
	display: inline-block;
	background: #fff;
	color: #000;
	padding: 0.5rem;
	border-radius: 0;
	-webkit-appearance: initial;
	-moz-appearance: initial;
	width: 78%;
	font-size: 16px;
}
.top09 dl.form .txtbox .select::before{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	right:0;
	height: 95%;
	width: 3rem;
	text-align: center;
	content: '▼';
	display: block;
	background: #eee;
	color: #000;
	line-height: 2.5;
	pointer-events: none;
}
.top09 dl.form .txtbox1 input{
	width: 100%;
}
.top09 dl.form .txtbox2 label{
	width: 18%;
}
.top09 dl.form .txtbox2 input{
	width: 82%;
}
.top09 dl.form .chk-box{
	border-bottom: dotted 1px #fcfcfb;
	width: 100%;
	padding: 2rem 0;
}
.top09 dl.form input.post1{
	width: 15rem;
}
.top09 dl.form input.num_people{
	width: 10rem;
	margin-right: 0.5rem;
}
.top09 dl.form input[type=text],
.top09 dl.form input[type=number],
.top09 dl.form input[type=tel],
.top09 dl.form input[type=email] ,
.top09 dl.form textarea{
	border: none;
	padding: 1rem;
	background: #eee;
	color: #333;
	font-size: 16px;
}
.top09 dl.form textarea{
	width:100%;
	height: 10rem;
}
.top09 dl.form input[type=button] {
	width: 10rem;
	margin-left: 1rem;
}
.top09 .submit_btn{
	width: 100%;
	background: #d00e36;
	border: 1px solid #d00e36;
	color: #fff;
	padding: 1rem 0;
	font-weight: bold;
	font-size: 1rem;
}

.top09 .agreement_box{
	margin: 1rem 0;
}
.top09 .agreement_box .inner{
	/* font-size: 1.6rem;s */
	margin: 1rem 0 0;
	text-align: left;
	display: flex;
	flex-wrap:wrap;
	align-items: flex-start;
}
.top09 .agreement_box .inner .icheckbox_square-red{
	width:20px;
	margin: 0.5rem 0 0;
}
.top09 .agreement_box .inner label{
	flex:1;
	padding:0 0 0 0.75rem;
	font-size: 0.9rem;
}
.top09 .agreement_box .inner p{
	margin: 0.5rem 0;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ09 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ プライバシーポリシー コピーライト ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.privacypolicy{
	width: 100%;
	margin: 0 auto;
	border: 1px solid #fff;
	padding:1rem;
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
	height: 200px;
	text-align: left;
}
.privacypolicy h3{
	color: #d00e36;
	font-size: 1.2rem;
	margin:1rem 0;
	text-align: center;
}
.privacypolicy h4{
	color: #d00e36;
	font-size: 1.2xrem;
	margin:1.5rem 0 1rem;
}
.privacypolicy ol{
	margin: 1rem 0 1rem 2rem;
}
.privacypolicy ol li{
	list-style: decimal;
}
.privacypolicy p{
	margin: 1rem 0;
}
.copy{ 
	margin:2rem 0 0;
	font-size: 0.8rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ プライバシーポリシー コピーライト ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ thanks01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.thanks{
	background: url(../img/top05_back.png) center /cover no-repeat;
	text-align: center;
	padding: 2rem 0 3rem;
}
.thanks .fig{
	top:0.5rem;
}
.thanks h1{
	margin: 0 0 2rem;
}
.thanks h2{
	font-size: 1.4rem;
}
.thanks h3{
	font-size: 1.32rem;
	margin:2rem 0;
}
.thanks a{
	margin: 3rem 0;
	display: block;
	padding:1rem 0;
	border: solid 3px #d00e36;
	background: #d00e36;
	font-weight: bold;
}

/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ thanks01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */